#navbar,.navbar {
    background-color: #456000;
    color: #DBC490;
}

.nav-link {
    color: #DBC490;
}

    .nav-link:hover {
        color: antiquewhite;
    }

.navbar-brand {
    color: #DBC490;
}

.navbar-toggler-icon, .dropdown-toggle::after {
    color: #DBC490;
}

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

a.dropdown-item {
    color: #DBC490;
}

.fill {
    position: absolute;
    top: 0;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-inline: auto;
}

    .fill img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

.banner-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background: black;
    z-index: 1;
    opacity: 0.75;
    overflow: hidden;
    position: absolute;
}

.hero-content {
    z-index: 2;
    position: absolute;
    margin: auto;
    top: 5vh;
    color: white;
    padding: 5vh;
    height: 50vh;
    overflow: hidden;
}

.center {
    margin: auto;
}

@media (min-width: 768px) {

    .account-right {
        float: right;
    }
}

@media (max-width: 768px) {

    .account-right {
        float: left;
    }

    .dropdown-menu-end {
        background-color: #456000;
        color: #DBC490;
        border: none;
    }

    .dropdown-item {
        color: #DBC490;
    }
}

.btn-custom {
    background-color: #DBC490;
}

    .btn-custom:hover {
        background-color: white;
        color: black;
    }

#navbar {
    z-index: 3;
    position: sticky;
    width: 100%;
}

.dropdown-menu {
    background-color: #456000;
}




