@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="banner-container">
    <div class="banner-overlay"></div>
    <div class="fill">
        <img src="~/images/home_banner.jpg" alt="Home page banner" />
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-8 hero-content">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat justo ipsum, a scelerisque leo sodales venenatis. Vivamus ut ex at lorem tempus tristique. Etiam et ultrices lectus. Praesent sit amet tincidunt mauris. Curabitur pharetra risus porttitor, semper libero quis, consequat magna. Etiam iaculis ultricies nibh ut interdum. Aenean porttitor leo augue, id malesuada est lacinia eget. In tristique urna nulla, sed mollis metus hendrerit id.
            </p>
            <button class="btn btn-primary m-1">More info</button>
        </div>
    </div>
</div>

