@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

    @*NAVBAR*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" style="z-index: 3;">
        <div class="container-fluid">
            <a class="navbar-brand nav-link" asp-area="" asp-controller="Home" asp-action="Index">SaveTheFood</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <img class="navbar-toggler-icon" src="~/images/icons8-menu-100.png"></img>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Reserveren</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Locaties</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Pakketbeheer</a>
                    </li>*@

                </ul>
                <ul class="navbar-nav account-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/icons8-account-100.png" width="25px" height="25px" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Account</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#">Login</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @*BODY*@
    @*BANNER*@
    <div class="banner-container mb-3" style="height: 100vh;">

        <div class="banner-overlay" style="height: 100vh;"></div>

        <div class="fill" style="height: 100vh;">
            <img src="~/images/home_banner.jpg" alt="Home page banner" style="height: 100vh;" />
        </div>

        <div class="row p-3 align-items-center mt-auto mb-auto">
            <div class="col-lg-3 col-md-10 col-sm-12 hero-content bg-light text-black" style="height: 80vh; opacity: 80%; border-radius: 1rem; top:12vh; left: 5vh;">
                <h1>Lorem Ipsum</h1>
                <img src="~/images/example_box.jpg" width="100%" height="auto" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat justo ipsum, a scelerisque leo sodales venenatis. Vivamus ut ex at lorem tempus tristique. Etiam et ultrices lectus. Praesent sit amet tincidunt mauris. Curabitur pharetra risus porttitor, semper libero quis, consequat magna. Etiam iaculis ultricies nibh ut interdum. Aenean porttitor leo augue, id malesuada est lacinia eget. In tristique urna nulla, sed mollis metus hendrerit id.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat justo ipsum, a scelerisque leo sodales venenatis. Vivamus ut ex at lorem tempus tristique. Etiam et ultrices lectus. Praesent sit amet tincidunt mauris. Curabitur pharetra risus porttitor, semper libero quis, consequat magna. Etiam iaculis ultricies nibh ut interdum. Aenean porttitor leo augue, id malesuada est lacinia eget. In tristique urna nulla, sed mollis metus hendrerit id.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consequat justo ipsum, a scelerisque leo sodales venenatis.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-10 col-sm-12 hero-content bg-light text-black" style="height: 80vh; opacity: 80%; border-radius: 1rem; top:12vh; right: 5vh;">
                <div class="row text-center">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-primary" for="btnradio1">Medewerker</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Student</label>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row text-center">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio3" autocomplete="off" checked>
                        <label class="btn btn-outline-secondary" for="btnradio3">Inloggen</label>

                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-secondary" for="btnradio4">Registreren</label>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row text-center mt-5">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" asp-action="Home">Login</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    @*FOOTER*@
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top p-3 mb-0 p-0">
        <p class="col-md-4 mb-0 text-muted">© 2022 SaveTheFood &trade;</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-dark text-decoration-none">
            <img class="bi me-2" width="25" height="25" src="~/images/Account.png"></img>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="" class="nav-link px-2 me-1 text-muted">Contact</a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 text-muted">About Us</a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>
