@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container row mb-3 center" style="padding-top: 2vh">
    <div class="row">
        <h1>A Big Title</h1>
        <div class="dropdown-divider mb-3"></div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-5 mb-auto mt-auto">
            <img src="~/images/example_box.jpg" width="100%" height="auto" />
        </div>
        <div class="col-lg-7">
            <h2 class="mb-1">Description</h2>
            <p class="mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus ante ut lectus auctor bibendum nec vel urna. Phasellus in dolor nibh. Nulla sed dolor nec ante elementum placerat. Mauris ac ante aliquam, vehicula leo sed, malesuada augue. Pellentesque interdum tristique nisl, eget rhoncus massa tincidunt id. Ut bibendum arcu ut justo sodales, tempor euismod felis mattis. Nulla vel rutrum neque. Curabitur bibendum posuere nulla, a auctor nibh egestas ac. Pellentesque et ante velit. Integer ac nibh sagittis, auctor ligula vel, dapibus metus. Aenean suscipit vitae nunc aliquet dapibus. Nunc nisi neque, tempus ac nibh nec, venenatis elementum tortor. Etiam placerat leo ac justo tempus efficitur.
            </p>
            <h2 class="mb-1">Ingredients</h2>
            <ul class="mb-2">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <a asp-action="Home"><button class="btn btn-outline-primary">Terug</button></a>
        <div class="col-10 mb-auto mt-auto">
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-2">
            <a asp-action="Home"><button class="btn btn-outline-primary">Reserveren</button></a>
        </div>
    </div>
</div>
